{
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".babelrc",
        ".eslintrc",
        ".stylelintrc",
        ".huskyrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "all"
}
