/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

/*
Global colours
black: #101921
dgrey: #2B3947
grey: #90A1B0
lgrey: #ECEEEF
white: #000000
blue: #00CCFF
green: #23DCC8
lgreen: #33FF99
orange: #F0B90B
red: #EE5366
gradient: Lgreen -> blue

Global Fonts
Large: OpenSans-32(2)-Light(300)-0.125
H1: Exo2-32(2)-SemiBold(600)-0.125
H2: Exo2-24(1.5)-SemiBold(600)-0.0625
H3: Exo2-18(1.125)-SemiBold(600)-0.0625
Label: OpenSans-18(1.125)-0.0625
Sublabel: OpenSans-14(0.875)-0.0625
Body: OpenSans-16(1)-0.0625
Input: OpenSans-28(1.75)-Semibold(600)-0.125


*/

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: '600';
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.1225em;
  color: #eceeef;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  color: #eceeef;
}

h3 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  color: #eceeef;
}

body {
  position: relative;
  color: #fff;
  height: 100vh;
  background-color: #101921;
  font-family: 'Open Sans', sans-serif;
  overflow-y: hidden;
}

label {
  position: relative;
  color: #fff;
  background-color: #101921;
  font-family: 'Open Sans', sans-serif;
  overflow-y: hidden;
}

p {
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  color: #23dcc8;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
