/*
Since `createGlobalStyle` of `styled-components` re-loads fonts in some cases (and for unknown reasons),
which ends up in flickering texts, we do defined all fonts and other "global" styles here
*/

@font-face {
  font-family: 'MainFontRegular';
  font-style: normal;
  font-weight: normal;
  src: local('MainFontBold'), url(./assets/fonts/Exo2-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'MainFontBold';
  font-style: normal;
  font-weight: normal;
  src: local('MainFontBold'), url(./assets/fonts/Exo2-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'MainFontSemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('MainFontSemiBold'), url(./assets/fonts/Exo2-SemiBold.otf) format('opentype');
}

html,
body {
  margin: 0;
  font-family: 'MainFontRegular';
}

/*
  Hide focus animation showing an ugly blue border around an antd button while clicking it
  See https://stackoverflow.com/a/69811648/2032698
*/
[ant-click-animating-without-extra-node='true']::after {
  display: none !important;
}
